/*
Google Font Alternatives (kind of lame ones though)

Futura - Muli
Helvetica - Source Sans Pro
Optima - Arsenal
Garmond - Lora
Playfair Display - Bodini

font-family: 'Muli', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arsenal', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
*/

html {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
    background-color: #f7f7f7;
}

#wrapper {
    margin: auto;
    width: 100%;
    height: auto;
}

header {
    background-color: #f7f7f7;
    background-color: #3b5998;
    height: 150px;
    width: 100%;
    display: flex;
    position: relative;

}

.headerImg {
    height: 100px;
    width: 100px;
    margin: 10px;
}

#logo {
    font-family: 'Pt Sans Narrow', serif;
    padding: 20px 0;
    width: auto;
    margin: 10px 30px;
    font-variant: small-caps;
    letter-spacing: .05em;
    font-size: 3.5em;
    text-align: center;
    color: white;
    line-height: 1.0em;
    justify-self: center;
    align-self: center;
}

.loginForm {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    margin-left: auto;
    margin-right: 10px;
}

.loginDiv {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
    color: white;
}

.buttonDiv {
    margin-top: 20px;
    width: fit-content;
}

.buttonDiv:hover {
    transform: scale(1.1);

}

.buttonDiv > input {
    border: 1px solid black;
    color: white;
    background-color: #222;
    padding: 3px;
}



nav {
    position: absolute;
    width: 100%;
    bottom: 0;
}

nav ul {
    font-family: 'Muli', sans-serif;
    list-style-type: none;
    overflow: hidden;
    color: #ddd;
    background-color: #222;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3b5998;;
}

.signupInput {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid;
}

.signupBttn {
    width: 200px;
    background-color: green;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    color: white;
    font-weight: bold;
}

.signupBttn:hover {
    transform: scale(1.1);
}

#content {
    min-height: 200px;
    padding: 0 50px;
    background-color: #f7f7f7;
    padding-bottom: 80px;
}

.username {
    font-size: 1.2em;
    font-style: bold;
    padding-left: 10px;
    margin: 20px;
}

.userpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #222;
    background-image: url("../img/blackleather.png");
    border: 2pt solid #222;
    float: left;
    margin: 0 40px 20px 0px;
}

.test {
    width: 200px;
    height: 20px;
}

#spaceImg {
    width: 200px;
}
#spaceImg {
    width: 200px;
    height: 200px;
}

textarea {
    width: 95%;
    color: #777;
    font-size: 1em;
    padding: 1em;
    height: 100px;
}

footer {
    font-family: 'Muli', sans-serif;
    padding: 5px;
    color: #ddd;
    background-color: #222;
    font-size: .9em;
}

footer a {
    color: white;
}
